/*** ALLGEMEIN ***/
body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
 background-image: url("");
 background-color: #cccccc;
}

ul {
	list-style: none;
}
#main {
  box-shadow: 0px 0px 20px #888;
  clear: both;
  margin: 0px auto;
  overflow: hidden;
  width: 1024px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

input {
  float: right;
  margin-right: 380px;
  margin-bottom: 5px;
  width: 175px;
  height: 25px;
}

select {
  float: right;
  margin-right: 380px;
  margin-bottom: 5px;
  width: 175px;
  height: 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

.success {
  color: #008000;
}

.error {
  color: #FF0000;
}

.select {
  width: 500px;
}

h1, h2, h3 {
  font-family: Arial, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
  font-size: 2em;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.1em;
  margin-top: 15px;
}

/*** HEADER ***/
#header {
  /*background-image: url("../images/thb.jpg"); */
  border-bottom: 1px solid #ffffff;
  clear: both;
  overflow: hidden;
}

#header .logo {
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
}

#header .login-menu {
	margin: 0px;
	overflow: hidden;
	padding: 0px;
}

#header .login-menu li {
	float: right;
	margin: 10px;
}

#header .headline {
  color: #000000;
  margin: 10px 20px;
}

#header .headline h1 {
  margin-bottom: 0px;
	margin-left: 42px;
	padding: 5px;
}

#header .first-menu {
  background: #7A8B8B;
  clear: both;
  overflow: hidden;
}

/*** MENU ***/
#menu {
  background-color: #CC082f;
  clear: both;
  float: left;
  overflow: hidden;
  padding-bottom: 20px;
  padding-left: 14px;
  padding-top: 20px;
  width: 220px;
}

/*#menu .menu-first {

}*/
#menu ul.menu {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

#menu ul.menu li {
  color: #ffffff;
  float: left;
  padding: 0px;
  margin: 10px 20px;
}

#menu ul.submenu {
  overflow: hidden;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  margin-left: 15px;
}

#menu ul.submenu li {
  float: none;
  padding: 0px;
  margin: 0px;
}

#menu ul.menu a {
  color: #EDEDED;
}

#menu ul.menu a:hover {
  color: #FFB91A;
}

form.switchBtn, form.switchYear, form.switchYear select {
  clear: both;
  display: inline-block;
  /* float: left; */
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

form.switcBbtn {
  width: auto;
}

form.switchBtn button {
  height: 25px;
  margin-right: 5px;
  width: 40px;
}

form.switchYear, form.switchYear select {
  width: 55px;
}

/*** MAIN ***/
#content {
  height: auto;
  /*overflow: hidden;*/
  position: relative;
  width: auto;
}

#content .img {
  height: auto;
  opacity: 0.2;
  margin: 0px 10px;
  position: absolute;
  width: 770px;
  z-index: 1;
}

#content .section {
  height: auto;
  margin-top: 15px;
  overflow: hidden;
  padding: 0px 20px;
  position: absolute;
  width: 750px;
  z-index: 2;
}

.search {
  margin-top: 10px;
}

.list {
  overflow: hidden;
}

.book {
  border-top: 1px solid #ccc;
  overflow: hidden;
}

ul.categories {
  border-bottom: 1px solid #BEBEBE;
  clear: both;
  list-style: none;
  margin: 0px;
  margin-left: -20px;
  overflow: hidden;
  padding: 0px 10px;
  width: 780px;
}

ul.categories li {
  float: left;
}

ul.categories li a {
  border: 1px solid #BEBEBE;
  display: block;
  padding: 5px 10px;
  margin-bottom: -1px;
  text-decoration: none;
}

ul.categories a.activ {
  border: 1px solid #000;
  /* border-bottom: 1px solid #fff; */
  margin-bottom: -1px;
}

.modulPlan {
  clear: both;
  overflow: hidden;
  width: 100%;
}

.modulPlan select, .modulPlan input {
  float: left;
  margin-right: 10px;
}

/*** TABLE ***/
.section table, th, td {
  border: 1px solid #BEBEBE;
  border-collapse: collapse;
  text-align: center;
}

/*** WORKLOAD ***/
#workload {
  clear: both;
  margin: 15px 0px;
  overflow: hidden;
  padding: 5px 0px 20px 0px;
  position: relative;
  width: 100%;
}

#workload .block {
  border-right: 3px dotted #000;
  bottom: 0;
  position: absolute;
  right: 170px;
  top: 0;
}

#workload .z0, .z25, .z50, .z75, .z100, .z125 {
    bottom: 0;
    position: absolute;
    text-align: center;
    /*width: 35px;*/
}

#workload .z0   { left: calc(02% + 15px); }
#workload .z25  { left: calc(20% + 10px); }
#workload .z50  { left: calc(38% + 10px); }
#workload .z75  { left: calc(56% + 08px); }
#workload .z100 { left: calc(73% + 05px); }
#workload .z125 { left: calc(90% + 10px); }

#workload .wp {
  clear: both;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

#workload .wp p {
  float: left;
  margin: 0px;
  padding: 4px 0px;
  width: 33px;
}

#workload .c100 {
  border: 1px solid;
  float: left;
  overflow: hidden;
  padding: 3px 0px;
  width: calc(100% - 35px);
}

#workload .dp {
  background: #ffa500;
  float: left;
}

#workload .vl{
  background: #32CD32;
  float: left;
}

/*** FOOTER ***/
#footer {
  color: black;
  clear: both;
  padding: 20px 10px;
  overflow: hidden;
}
